body {
  font-family: "Poppins", sans-serif;
  color: #393e50;
}
.custom-button {
  color: white;
  background: linear-gradient(#a04273, #8b285b);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.custom-button:hover {
  color: white;
}
.custom-text {
  color: #8b285b;
}
.custom-text:hover {
  transform: scale(1.1);
  color: #8b285b;
}
.row-font {
  color: #8b285b;
}
p {
  margin: 0;
}
a {
  margin-top: 10px;
}

/* Toast CSS  */
.custom-toast {
  position: fixed;
  width: 280px;
  top: 50%;
  right: 0%;
  z-index: 1;
  border-left: 5px solid #8b285b;
}

/* package Section */
.package {
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.highlight {
  padding-top: 30px;
}
/* review section */
.review-background {
  box-shadow: #8b285b 0px 6px 15px 5px;
  border-radius: 20px;
}
