body {
  /* background-color: #000000; */
  font-family: "Poppins", sans-serif;
  /* color: white; */
}
.body-shadow {
  border: 0%;
  box-shadow: rgba(87, 85, 85, 0.473) 0px 10px 30px 5px;
  border-radius: 15px;
}
.row-font {
  color: #231d4f;
}
.row {
  padding: 0px;
}
.custom-toast {
  position: fixed;
  width: 280px;
  top: 50%;
  right: 0%;
  z-index: 1;
  border-left: 5px solid blue;
}
.package {
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.highlight {
  padding-top: 30px;
}
.back-shadow {
  box-shadow: rgb(255, 0, 0) 0px 13px 27px -5px,
    rgb(255, 0, 0) 0px 8px 16px -8px;
}
p {
  margin: 0;
}
a {
  margin-top: 10px;
}
