body {
  /* background-color: #e5e5e5; */
  font-family: "Poppins", sans-serif;
}
.row-font {
  color: #231d4f;
}
.row {
  padding: 0px;
}
.package {
  border-radius: 200px;
}
.highlighted-package {
  /* padding-top: 30px; */
  /* border-radius: 0px; */
  /* bottom: auto; */
}
p {
  margin: 0;
}
div {
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  margin-top: 5px;
}
